/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Domine:400,700&display=swap");
/* line 5, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/_global.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 13, ../sass/_global.scss */
a, p {
  text-decoration: none !important;
}

/* line 17, ../sass/_global.scss */
a, button, i, input, span {
  -webkit-transition: 0.2s ease-out !important;
  -moz-transition: 0.2s ease-out !important;
  -o-transition: 0.2s ease-out !important;
  transition: 0.2s ease-out !important;
}

/* line 24, ../sass/_global.scss */
ul {
  list-style: none !important;
}

/* line 28, ../sass/_global.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label,
select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/* line 36, ../sass/_global.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 42, ../sass/_global.scss */
section, footer {
  overflow: hidden;
}

/* line 46, ../sass/_global.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 53, ../sass/_global.scss */
.welcome {
  background: url("../../images/Photo.png") no-repeat center;
  background-size: cover;
  height: 100%;
  min-height: 1057px;
}
/* line 58, ../sass/_global.scss */
.welcome .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 62, ../sass/_global.scss */
.welcome .header .header__logo {
  background: #fa5c65;
  padding: 43px 14px 14px;
  border-radius: 0 0 10px 10px;
  color: #ffffff;
  font-family: 'Domine', serif;
  font-size: 20px;
  font-weight: 700;
}
/* line 70, ../sass/_global.scss */
.welcome .header .header__logo .point-bl {
  color: #314a5b;
}
/* line 74, ../sass/_global.scss */
.welcome .header .header__menu .menu-search {
  display: flex;
}
/* line 76, ../sass/_global.scss */
.welcome .header .header__menu .menu-search li {
  margin: 0 20px;
}
/* line 78, ../sass/_global.scss */
.welcome .header .header__menu .menu-search li a {
  color: #263742;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 85, ../sass/_global.scss */
.welcome .header .header__menu .menu-search li .social-icon li {
  float: left;
  margin: 0 10px;
}
/* line 88, ../sass/_global.scss */
.welcome .header .header__menu .menu-search li .social-icon li a {
  font-size: 17px;
  color: #fa5c65;
}
/* line 91, ../sass/_global.scss */
.welcome .header .header__menu .menu-search li .social-icon li a:hover {
  color: #314a5b;
}
/* line 99, ../sass/_global.scss */
.welcome .welcome__content {
  width: 510px;
  padding-top: 306px;
}
/* line 102, ../sass/_global.scss */
.welcome .welcome__content h1 {
  color: #314a5b;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-transform: uppercase;
}
/* line 109, ../sass/_global.scss */
.welcome .welcome__content h1 .point {
  color: #fa5c65;
}
/* line 113, ../sass/_global.scss */
.welcome .welcome__content .creative-agency {
  margin: 26px 0 41px;
  display: block;
  color: #314a5b;
  font-size: 20px;
  font-weight: 400;
}
/* line 120, ../sass/_global.scss */
.welcome .welcome__content a {
  display: inline-block;
  padding: 27px 42px 25px;
  background: #fa5c65;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  text-transform: uppercase;
}
/* line 129, ../sass/_global.scss */
.welcome .welcome__content a:hover {
  background: #d24d55;
}

/* line 138, ../sass/_global.scss */
.content {
  padding: 82px 0 60px;
}
/* line 140, ../sass/_global.scss */
.content .content__snippets {
  margin-bottom: 100px;
}
/* line 142, ../sass/_global.scss */
.content .content__snippets .snippers-list {
  display: flex;
  justify-content: space-between;
}
/* line 146, ../sass/_global.scss */
.content .content__snippets .snippers-list li h4 {
  margin-bottom: 28px;
  color: #465065;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
/* line 154, ../sass/_global.scss */
.content .content__snippets .snippers-list li h4 .paragraph {
  display: block !important;
}
/* line 157, ../sass/_global.scss */
.content .content__snippets .snippers-list li h4 .point {
  color: #f0454c;
}
/* line 162, ../sass/_global.scss */
.content .content__snippets .snippers-list li p {
  width: 251px;
  margin-bottom: 29px;
  color: #9aa0ab;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
/* line 173, ../sass/_global.scss */
.content .content__portfolio {
  display: flex;
  margin-bottom: 105px;
}
/* line 176, ../sass/_global.scss */
.content .content__portfolio .portfolio-team {
  margin-left: 81px;
}
/* line 179, ../sass/_global.scss */
.content .content__portfolio .portfolio-team li h3 {
  color: #314a5b;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 185, ../sass/_global.scss */
.content .content__portfolio .portfolio-team li h3 .point {
  color: #f0454c;
}
/* line 189, ../sass/_global.scss */
.content .content__portfolio .portfolio-team li .strong-team {
  display: block;
  margin: 17px 0 29px;
  color: #314a5b;
  font-size: 16px;
  font-weight: 400;
}
/* line 196, ../sass/_global.scss */
.content .content__portfolio .portfolio-team li p {
  width: 367px;
  margin-bottom: 30px;
  color: #9aa0ab;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
/* line 205, ../sass/_global.scss */
.content .content__portfolio .portfolio-team a {
  display: inline-block;
  margin-top: 15px;
}
/* line 211, ../sass/_global.scss */
.content a {
  position: relative;
  margin-top: 56px;
  padding-right: 20px;
  color: #f0454c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 220, ../sass/_global.scss */
.content a:after {
  position: absolute;
  content: "";
  background: url("../../images/arrow.png") no-repeat;
  width: 12px;
  height: 9px;
  top: 2px;
  right: 0;
}
/* line 231, ../sass/_global.scss */
.content .content__our-team h3 {
  color: #314a5b;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 237, ../sass/_global.scss */
.content .content__our-team h3 .point {
  color: #f0454c;
}
/* line 241, ../sass/_global.scss */
.content .content__our-team .friendly {
  display: block;
  margin: 16px 0 40px;
  color: #9aa0ab;
  font-size: 16px;
  font-weight: 400;
}
/* line 248, ../sass/_global.scss */
.content .content__our-team .team {
  display: flex;
  justify-content: space-between;
}
/* line 251, ../sass/_global.scss */
.content .content__our-team .team li {
  display: flex;
  align-items: center;
}
/* line 254, ../sass/_global.scss */
.content .content__our-team .team li img {
  width: 120px;
  height: 120px;
}
/* line 258, ../sass/_global.scss */
.content .content__our-team .team li .info-user {
  margin-left: 21px;
}
/* line 260, ../sass/_global.scss */
.content .content__our-team .team li .info-user h5 {
  color: #314a5b;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 267, ../sass/_global.scss */
.content .content__our-team .team li .info-user .position {
  margin: 12px 0 14px;
  color: #f0454c;
  font-size: 14px;
  font-weight: 400;
}
/* line 273, ../sass/_global.scss */
.content .content__our-team .team li .info-user p {
  color: #9aa0ab;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/* line 282, ../sass/_global.scss */
.content .content__our-team a {
  position: relative;
  margin-top: 56px;
  padding-right: 20px;
  float: right;
  color: #f0454c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 292, ../sass/_global.scss */
.content .content__our-team a:after {
  position: absolute;
  content: "";
  background: url("../../images/arrow.png") no-repeat;
  width: 12px;
  height: 9px;
  top: 1px;
  right: 0;
}

/* line 307, ../sass/_global.scss */
footer {
  padding-bottom: 40px;
}
/* line 309, ../sass/_global.scss */
footer .linear {
  width: 940px;
  margin: 0 auto 30px;
  height: 1px;
  background-color: #e6eaed;
}
/* line 315, ../sass/_global.scss */
footer .footer__content {
  display: flex;
  justify-content: space-between;
}
/* line 318, ../sass/_global.scss */
footer .footer__content .footer__social-icons {
  display: flex;
}
/* line 320, ../sass/_global.scss */
footer .footer__content .footer__social-icons li {
  margin-right: 22px;
}
/* line 323, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a i {
  color: #b9c0c6;
  font-size: 18px;
}
/* line 327, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #b9c0c6, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #b9c0c6, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #b9c0c6, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #b9c0c6, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #b9c0c6, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #b9c0c6, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #b9c0c6, rgba(0, 0, 0, 0)), linear-gradient(#b9c0c6, #b9c0c6 30%, #b9c0c6 50%, #b9c0c6 70%, #fec66d 100%);
  border-radius: .2em;
  font-size: 18px;
  height: 20px;
  position: relative;
  width: 20.2px;
}
/* line 342, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:before, footer .footer__content .footer__social-icons li a .instagram:after {
  color: #fff;
  content: '';
  display: block;
  position: absolute;
  border: .075em solid;
}
/* line 350, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:before {
  border-radius: inherit;
  height: .75em;
  transform: translate(0.125em, 0.125em);
  width: .75em;
}
/* line 356, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:after {
  border-radius: 1em;
  box-shadow: .2em -.2em 0 -.16em;
  height: .4em;
  transform: translate(0.3em, 0.3em);
  width: .4em;
}
/* line 363, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: .2em;
  font-size: 18px;
  height: 20px;
  position: relative;
  width: 20.5px;
}
/* line 378, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:hover:before, footer .footer__content .footer__social-icons li a .instagram:hover:after {
  color: #fff;
  content: '';
  display: block;
  position: absolute;
  border: .075em solid;
}
/* line 386, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:hover:before {
  border-radius: inherit;
  height: .75em;
  transform: translate(0.125em, 0.125em);
  width: .75em;
}
/* line 393, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .instagram:hover:after {
  border-radius: 1em;
  box-shadow: .2em -.2em 0 -.16em;
  height: .4em;
  transform: translate(0.3em, 0.3em);
  width: .4em;
}
/* line 403, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .google-plus {
  margin-top: 2px;
}
/* line 405, ../sass/_global.scss */
footer .footer__content .footer__social-icons li a .google-plus:hover {
  filter: invert(0.36) sepia(1) saturate(18.5) hue-rotate(320.4deg) brightness(0.67);
}
/* line 411, ../sass/_global.scss */
footer .footer__content .footer__social-icons li .fa-twitter:hover {
  color: #00ced1;
}
/* line 416, ../sass/_global.scss */
footer .footer__content .footer__social-icons li .fa-facebook-f:hover {
  color: #166abb;
}
/* line 422, ../sass/_global.scss */
footer .footer__content .copyright {
  color: #b9c0c6;
  font-size: 13px;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  /* line 3, ../sass/_media480.scss */
  .container {
    width: 300px;
    margin: 0 auto;
  }

  /* line 10, ../sass/_media480.scss */
  .welcome {
    min-height: 620px;
  }
  /* line 12, ../sass/_media480.scss */
  .welcome .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* line 16, ../sass/_media480.scss */
  .welcome .header .header__logo {
    background: #fa5c65;
    padding: 43px 14px 14px;
    border-radius: 0 0 10px 10px;
    color: #ffffff;
    font-family: 'Domine', serif;
    font-size: 20px;
    font-weight: 700;
  }
  /* line 24, ../sass/_media480.scss */
  .welcome .header .header__logo .point-bl {
    color: #314a5b;
  }
  /* line 28, ../sass/_media480.scss */
  .welcome .header .header__menu .menu-search {
    display: none;
  }
  /* line 32, ../sass/_media480.scss */
  .welcome .header .header__menu-second {
    display: block !important;
    text-align: right;
  }
  /* line 37, ../sass/_media480.scss */
  .welcome .header .menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
  }
  /* line 45, ../sass/_media480.scss */
  .welcome .header .menu__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 85%;
    background: #ff2f31;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  /* line 58, ../sass/_media480.scss */
  .welcome .header .menu__icon span:nth-child(1) {
    width: 70%;
    top: 0;
    left: 7px;
  }
  /* line 64, ../sass/_media480.scss */
  .welcome .header .menu__icon span:nth-child(2), .welcome .header .menu__icon span:nth-child(3) {
    top: 13px;
  }
  /* line 68, ../sass/_media480.scss */
  .welcome .header .menu__icon span:nth-child(4) {
    top: 26px;
  }
  /* line 72, ../sass/_media480.scss */
  .welcome .header .menu__links-item {
    display: inline-block;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 66px;
    padding: 0 10px;
    text-decoration: none;
  }
  /* line 82, ../sass/_media480.scss */
  .welcome .header .menu__links-item:hover {
    text-decoration: underline;
  }
  /* line 86, ../sass/_media480.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  /* line 92, ../sass/_media480.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
  }
  /* line 96, ../sass/_media480.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }
  /* line 100, ../sass/_media480.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  /* line 106, ../sass/_media480.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__links {
    display: block;
  }
  /* line 109, ../sass/_media480.scss */
  .welcome .header .menu__icon {
    display: inline-block;
  }
  /* line 113, ../sass/_media480.scss */
  .welcome .header .menu__links {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 103px;
    background: #ff2f31;
    z-index: 1000;
  }
  /* line 124, ../sass/_media480.scss */
  .welcome .header .menu__links .follow-us {
    display: block;
    text-align: left;
    margin-left: 30px;
    opacity: 0.4;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 66px;
  }
  /* line 134, ../sass/_media480.scss */
  .welcome .header .menu__links .soc-icon {
    display: flex;
    font-size: 48px;
    margin: 0 0 66px 30px;
  }
  /* line 138, ../sass/_media480.scss */
  .welcome .header .menu__links .soc-icon a {
    margin-right: 48px;
    color: #ffffff;
  }
  /* line 141, ../sass/_media480.scss */
  .welcome .header .menu__links .soc-icon a:hover {
    color: #8d81ac;
  }
  /* line 148, ../sass/_media480.scss */
  .welcome .header .menu__links-item {
    position: relative;
    display: block;
    padding: 10px 0 10px 30px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #3b3b3b;
  }
  /* line 155, ../sass/_media480.scss */
  .welcome .header .menu__links-item:hover {
    color: #8d81ac;
  }
  /* line 160, ../sass/_media480.scss */
  .welcome .header .active {
    color: #858585;
  }
  /* line 162, ../sass/_media480.scss */
  .welcome .header .active:hover {
    color: #858585;
  }
  /* line 165, ../sass/_media480.scss */
  .welcome .header .active:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 8px;
    height: 53px;
    background-color: #f3fff6;
  }
  /* line 176, ../sass/_media480.scss */
  .welcome .welcome__content {
    width: 290px;
    padding-top: 206px;
  }
  /* line 179, ../sass/_media480.scss */
  .welcome .welcome__content h1 {
    font-size: 38px;
    line-height: 40px;
  }
  /* line 183, ../sass/_media480.scss */
  .welcome .welcome__content .creative-agency {
    font-size: 18px;
  }
  /* line 186, ../sass/_media480.scss */
  .welcome .welcome__content a {
    padding: 20px 32px 18px;
  }

  /* line 194, ../sass/_media480.scss */
  .content {
    padding: 60px 0 40px;
  }
  /* line 196, ../sass/_media480.scss */
  .content .content__snippets {
    margin-bottom: 50px;
  }
  /* line 198, ../sass/_media480.scss */
  .content .content__snippets .snippers-list {
    flex-direction: column;
    align-items: center;
  }
  /* line 201, ../sass/_media480.scss */
  .content .content__snippets .snippers-list li {
    margin-bottom: 20px;
  }
  /* line 206, ../sass/_media480.scss */
  .content .content__portfolio {
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
  }
  /* line 210, ../sass/_media480.scss */
  .content .content__portfolio img {
    width: 300px;
    margin-bottom: 30px;
  }
  /* line 214, ../sass/_media480.scss */
  .content .content__portfolio .portfolio-team {
    margin: 0;
  }
  /* line 217, ../sass/_media480.scss */
  .content .content__portfolio .portfolio-team li h3 {
    font-size: 35px;
  }
  /* line 220, ../sass/_media480.scss */
  .content .content__portfolio .portfolio-team li .strong-team {
    font-size: 15px;
  }
  /* line 223, ../sass/_media480.scss */
  .content .content__portfolio .portfolio-team li p {
    width: 270px;
    font-size: 14px;
    line-height: 20px;
  }
  /* line 232, ../sass/_media480.scss */
  .content .content__our-team h3 {
    text-align: center;
  }
  /* line 235, ../sass/_media480.scss */
  .content .content__our-team .friendly {
    text-align: center;
  }
  /* line 238, ../sass/_media480.scss */
  .content .content__our-team .team {
    flex-direction: column;
  }
  /* line 240, ../sass/_media480.scss */
  .content .content__our-team .team li {
    margin-bottom: 20px;
  }
  /* line 242, ../sass/_media480.scss */
  .content .content__our-team .team li .info-user li {
    margin: 0;
  }

  /* line 253, ../sass/_media480.scss */
  footer .linear {
    width: 300px;
  }
  /* line 256, ../sass/_media480.scss */
  footer .footer__content {
    flex-direction: column;
    align-items: center;
  }
  /* line 259, ../sass/_media480.scss */
  footer .footer__content .footer__social-icons {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 2, ../sass/_media767.scss */
  .container {
    width: 450px;
    margin: 0 auto;
  }

  /* line 9, ../sass/_media767.scss */
  .welcome {
    min-height: 620px;
  }
  /* line 12, ../sass/_media767.scss */
  .welcome .header .header__menu .menu-search {
    display: none;
  }
  /* line 16, ../sass/_media767.scss */
  .welcome .header .header__menu-second {
    display: block !important;
    text-align: right;
  }
  /* line 21, ../sass/_media767.scss */
  .welcome .header .menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
  }
  /* line 29, ../sass/_media767.scss */
  .welcome .header .menu__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 85%;
    background: #ff2f31;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  /* line 42, ../sass/_media767.scss */
  .welcome .header .menu__icon span:nth-child(1) {
    width: 70%;
    top: 0;
    left: 7px;
  }
  /* line 48, ../sass/_media767.scss */
  .welcome .header .menu__icon span:nth-child(2), .welcome .header .menu__icon span:nth-child(3) {
    top: 13px;
  }
  /* line 52, ../sass/_media767.scss */
  .welcome .header .menu__icon span:nth-child(4) {
    top: 26px;
  }
  /* line 56, ../sass/_media767.scss */
  .welcome .header .menu__links-item {
    display: inline-block;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 66px;
    padding: 0 10px;
    text-decoration: none;
  }
  /* line 66, ../sass/_media767.scss */
  .welcome .header .menu__links-item:hover {
    text-decoration: underline;
  }
  /* line 70, ../sass/_media767.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  /* line 76, ../sass/_media767.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
  }
  /* line 80, ../sass/_media767.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }
  /* line 84, ../sass/_media767.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  /* line 90, ../sass/_media767.scss */
  .welcome .header .header__menu-second.menu_state_open .menu__links {
    display: block;
  }
  /* line 93, ../sass/_media767.scss */
  .welcome .header .menu__icon {
    display: inline-block;
  }
  /* line 97, ../sass/_media767.scss */
  .welcome .header .menu__links {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 103px;
    background: #ff2f31;
    z-index: 1000;
  }
  /* line 108, ../sass/_media767.scss */
  .welcome .header .menu__links .follow-us {
    display: block;
    text-align: left;
    margin-left: 30px;
    opacity: 0.4;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 66px;
  }
  /* line 118, ../sass/_media767.scss */
  .welcome .header .menu__links .soc-icon {
    display: flex;
    font-size: 48px;
    margin: 0 0 66px 30px;
  }
  /* line 122, ../sass/_media767.scss */
  .welcome .header .menu__links .soc-icon a {
    margin-right: 48px;
    color: #ffffff;
  }
  /* line 125, ../sass/_media767.scss */
  .welcome .header .menu__links .soc-icon a:hover {
    color: #8d81ac;
  }
  /* line 132, ../sass/_media767.scss */
  .welcome .header .menu__links-item {
    position: relative;
    display: block;
    padding: 10px 0 10px 30px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #3b3b3b;
  }
  /* line 139, ../sass/_media767.scss */
  .welcome .header .menu__links-item:hover {
    color: #8d81ac;
  }
  /* line 144, ../sass/_media767.scss */
  .welcome .header .active {
    color: #858585;
  }
  /* line 146, ../sass/_media767.scss */
  .welcome .header .active:hover {
    color: #858585;
  }
  /* line 149, ../sass/_media767.scss */
  .welcome .header .active:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 8px;
    height: 53px;
    background-color: #f3fff6;
  }
  /* line 160, ../sass/_media767.scss */
  .welcome .welcome__content {
    width: 400px;
    padding-top: 206px;
  }
  /* line 163, ../sass/_media767.scss */
  .welcome .welcome__content h1 {
    font-size: 36px;
    line-height: 40px;
  }
  /* line 167, ../sass/_media767.scss */
  .welcome .welcome__content .creative-agency {
    font-size: 18px;
  }
  /* line 170, ../sass/_media767.scss */
  .welcome .welcome__content a {
    padding: 20px 32px 18px;
  }

  /* line 178, ../sass/_media767.scss */
  .content {
    padding: 60px 0 40px;
  }
  /* line 180, ../sass/_media767.scss */
  .content .content__snippets {
    margin-bottom: 50px;
  }
  /* line 182, ../sass/_media767.scss */
  .content .content__snippets .snippers-list {
    flex-direction: column;
    align-items: center;
  }
  /* line 185, ../sass/_media767.scss */
  .content .content__snippets .snippers-list li {
    margin-bottom: 20px;
  }
  /* line 190, ../sass/_media767.scss */
  .content .content__portfolio {
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
  }
  /* line 194, ../sass/_media767.scss */
  .content .content__portfolio img {
    width: 300px;
    margin-bottom: 30px;
  }
  /* line 198, ../sass/_media767.scss */
  .content .content__portfolio .portfolio-team {
    margin: 0;
  }
  /* line 201, ../sass/_media767.scss */
  .content .content__portfolio .portfolio-team li h3 {
    font-size: 35px;
  }
  /* line 204, ../sass/_media767.scss */
  .content .content__portfolio .portfolio-team li .strong-team {
    font-size: 15px;
  }
  /* line 207, ../sass/_media767.scss */
  .content .content__portfolio .portfolio-team li p {
    width: 270px;
    font-size: 14px;
    line-height: 20px;
  }
  /* line 216, ../sass/_media767.scss */
  .content .content__our-team h3 {
    text-align: center;
  }
  /* line 219, ../sass/_media767.scss */
  .content .content__our-team .friendly {
    text-align: center;
  }
  /* line 222, ../sass/_media767.scss */
  .content .content__our-team .team {
    flex-direction: column;
  }
  /* line 224, ../sass/_media767.scss */
  .content .content__our-team .team li {
    margin-bottom: 20px;
  }
  /* line 226, ../sass/_media767.scss */
  .content .content__our-team .team li .info-user li {
    margin: 0;
  }

  /* line 237, ../sass/_media767.scss */
  footer .linear {
    width: 300px;
  }
  /* line 240, ../sass/_media767.scss */
  footer .footer__content {
    flex-direction: column;
    align-items: center;
  }
  /* line 243, ../sass/_media767.scss */
  footer .footer__content .footer__social-icons {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 3, ../sass/_media991.scss */
  .container {
    width: 740px;
    margin: 0 auto;
  }

  /* line 10, ../sass/_media991.scss */
  .welcome {
    min-height: 620px;
  }
  /* line 12, ../sass/_media991.scss */
  .welcome .welcome__content {
    width: 400px;
    padding-top: 206px;
  }
  /* line 15, ../sass/_media991.scss */
  .welcome .welcome__content h1 {
    font-size: 36px;
    line-height: 40px;
  }
  /* line 19, ../sass/_media991.scss */
  .welcome .welcome__content .creative-agency {
    font-size: 18px;
  }
  /* line 22, ../sass/_media991.scss */
  .welcome .welcome__content a {
    padding: 20px 32px 18px;
  }

  /* line 30, ../sass/_media991.scss */
  .content {
    padding: 60px 0 40px;
  }
  /* line 32, ../sass/_media991.scss */
  .content .content__snippets {
    margin-bottom: 50px;
  }
  /* line 34, ../sass/_media991.scss */
  .content .content__snippets .snippers-list {
    align-items: center;
  }
  /* line 36, ../sass/_media991.scss */
  .content .content__snippets .snippers-list li {
    margin-bottom: 20px;
  }
  /* line 38, ../sass/_media991.scss */
  .content .content__snippets .snippers-list li p {
    width: 230px;
  }
  /* line 44, ../sass/_media991.scss */
  .content .content__portfolio {
    margin-bottom: 75px;
  }
  /* line 46, ../sass/_media991.scss */
  .content .content__portfolio img {
    width: 300px;
    margin-bottom: 30px;
  }
  /* line 50, ../sass/_media991.scss */
  .content .content__portfolio .portfolio-team {
    margin: 0;
  }
  /* line 53, ../sass/_media991.scss */
  .content .content__portfolio .portfolio-team li h3 {
    font-size: 35px;
  }
  /* line 56, ../sass/_media991.scss */
  .content .content__portfolio .portfolio-team li .strong-team {
    font-size: 15px;
  }
  /* line 59, ../sass/_media991.scss */
  .content .content__portfolio .portfolio-team li p {
    width: 270px;
    font-size: 14px;
    line-height: 20px;
  }
  /* line 67, ../sass/_media991.scss */
  .content .content__our-team {
    text-align: center;
  }
  /* line 70, ../sass/_media991.scss */
  .content .content__our-team .team li {
    display: block;
    margin-bottom: 20px;
  }
  /* line 73, ../sass/_media991.scss */
  .content .content__our-team .team li .info-user li {
    margin: 0;
  }
  /* line 76, ../sass/_media991.scss */
  .content .content__our-team .team li h5, .content .content__our-team .team li p {
    margin: 10px 0;
  }

  /* line 87, ../sass/_media991.scss */
  footer .linear {
    width: 300px;
  }
  /* line 90, ../sass/_media991.scss */
  footer .footer__content {
    flex-direction: column;
    align-items: center;
  }
  /* line 93, ../sass/_media991.scss */
  footer .footer__content .footer__social-icons {
    margin-bottom: 20px;
  }
}
